



<router-outlet></router-outlet>

  
  <div *ngFor="let city of cities" >
    <ng-container *ngIf="isLoaded" >
      <!-- <div class="card">
        <div class="card-title" >
          {{city}}
        </div>
        <div class="card-container">
          {{messages[city]['temp']}}
          {{messages[city]['time']}}
        </div>

      </div> -->
      <mat-card class="mat-elevation-z4 shadow-lg" style="margin-bottom: 1rem">
        <mat-card-header>
          <mat-card-title>
            {{city}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
          <p>Temp: {{messages[city]['temp']}}</p>
          <p>Time: {{messages[city]['time']}}</p>
          
        </mat-card-content>
      </mat-card>
      <!-- <h1>{{city}}   </h1> -->
    </ng-container>

  </div>